page-event {
    .toolbar {
        height: 25vh;
        background-position: center;
        background-size: cover;

        .toolbar-background {
            display: none;
        }

        .bar-button {
            color: color($colors, light);
            align-self: flex-start;

            &:hover {
                color: color($colors, light);
            }
        }
    }

    .event-details {
        .event-text {
            margin-bottom: 0.5rem;

            > .text {
                margin: 0px;

                &:first-child {
                    text-transform: uppercase;
                }
            }
        }

        .grid-requirements {
            padding: 0px;

            > .row {
                > .col {
                    padding: 1rem 0;
                }
            }
        }
    }
}
