page-home {
    .searchbar {
        width: 50%;
        margin: auto;
    }

    .grid-categories {
        padding: 2rem 0;

        > .row {
            padding: 0;

            > .col {
                padding: 0;
            }
        }
    }
}
