category {
    .category-title {
        display: inline-block;
        padding: 0 2rem;

        background: color($colors, primary);
        color: color-contrast($colors, primary);

        > .text {
            font-style: italic;
            font-weight: 600;
        }
    }

    .grid {
        padding: 20px;

        .overview-image {
            width: 25vw;
            height: 25vw;
            min-width: 64px;
            min-height: 64px;
            max-width: 192px;
            max-height: 192px;
            background-position: center;
    
            text-align: center;
    
            display: flex;
            flex-direction: column;
            justify-content: center;
    
            > .text {
                margin: 0px;
                color: color($colors, light);
            }
        }

        .overview-text {
            > :first-of-type {
                text-transform: uppercase;
                margin-top: 0;
            }
        }

        .overview-buttons {
            > .overview-button {
                display: inline-block;
            }
        }
    }
}