<div class="category-title">
    <h5 ion-text>{{data.label}}</h5>
</div>
<ion-grid class="grid-overviews">
    <ion-row *ngFor="let overview of data.events;">
        <ion-col col-4 col-xl-3>
            <div class="overview-image" [ngStyle]="{'background-image': 'url(' + overview.image + ')'}">
                <h1 ion-text>{{overview.dateTime | amDateFormat:'DD'}}</h1>
                <h4 ion-text>{{overview.dateTime | amDateFormat:'MMM'}}.</h4>
            </div>
        </ion-col>
        <ion-col>
            <div class="overview-event">
                <div class="overview-text">
                    <h5 ion-text (click)="goToDetails(overview.id)">{{overview.title}}</h5>
                    <p ion-text color="secondary">{{overview.dateTime | amCalendar}}</p>
                </div>
                <voters [maximumNumber]="3" [simple]="true" [data]="overview.members"></voters>
                <div class="overview-buttons">
                    <div *ngFor="let status of activeStatusConfig;" class="overview-button">
                        <button *ngIf="overview.status === 'none' || overview.status === status.type" (click)="changeStatus(overview.id, status.type, overview.status)" color="{{overview.status === status.type ? status.color : 'secondary'}}" ion-button icon-start small>
                            <ion-icon *ngIf="overview.status === status.type" name="{{status.icon}}"></ion-icon>
                            <span>{{status.label}}</span>
                        </button> 
                    </div>
                </div>
            </div>
        </ion-col>
    </ion-row>
</ion-grid>