<div class="category-title">
    <h3 ion-text>{{data.label}}</h3>
</div>
<ion-grid>
    <ion-row *ngFor="let overview of data.events;">
        <ion-col col-auto>
            <div class="overview-image" [ngStyle]="{'background-image': 'url(' + overview.image + ')'}">
                <h2 ion-text>19</h2>
                <h3 ion-text>JUN.</h3>
            </div>
        </ion-col>
        <ion-col>
            <div class="overview-event">
                <div class="overview-text">
                    <h3 ion-text (click)="goToDetails(overview.id)">{{overview.title}}</h3>
                    <h5 ion-text>BLA BLA</h5>
                </div>
                <voters [data]="overview.members"></voters>
                <div class="overview-buttons">
                    <div *ngFor="let status of activeStatusConfig;" class="overview-button">
                        <button *ngIf="overview.status === 'none' || overview.status === status.type" (click)="changeStatus(overview.id, status.type, overview.status)" color="{{overview.status === status.type ? status.color : 'secondary'}}" ion-button icon-start>
                            <ion-icon *ngIf="overview.status === status.type" name="{{status.icon}}"></ion-icon>
                            <span>{{status.label}}</span>
                        </button> 
                    </div>
                </div>
            </div>
        </ion-col>
    </ion-row>
</ion-grid>