category {
    .category-title {
        display: inline-block;
        padding: 0 2rem;

        background: color($colors, primary);
        color: color-contrast($colors, primary);

        > .text {
            font-style: italic;
            font-weight: 600;
        }
    }

    .grid {
        padding: 20px;

        .overview-image {
            background-position: center;   
            text-align: center;
            padding: 2vw 3vw;
    
            > .text {
                margin: 0px;
                color: color($colors, light);

                &:first-child {
                    font-size: 5vw;
                }

                font-size: 2vw;
            }
        }

        .overview-text {
            > :first-child {
                text-transform: uppercase;
                margin-top: 0;

                cursor: pointer;
            }
        }

        .overview-buttons {
            > .overview-button {
                display: inline-block;
            }
        }
    }
}