message {
    .message-author {
        img {
            width: 64px;
            height: 64px;
        }

        .icon {
            margin-right: 0.5rem;
            vertical-align: middle;
        }
    }

    .message-comment {
        margin-bottom: 1rem;
    }

    .message-attachment {
        margin-bottom: 1rem;

        > img {
            margin-bottom: 2rem;
        }

        > h1.text {
            text-transform: uppercase;
        }
    }

    .message-feedback {
        > :not(:last-child) {
            margin-right: 0.5rem;
        }

        .icon {
            color: color($colors, light);

            padding: 4px;
            clip-path: circle(50%);
        }

        > .feedback-highfive .icon {
            background: #1976d2;
        }

        > .feedback-comment .icon {
            background: #2e7d32;
        }
    }

    .message-buttons {
        text-align: center;
    }
}