<ion-avatar *ngFor="let voter of data;">
    <img src="{{voter.photo}}"/>
</ion-avatar>
<ng-template [ngIf]="missNumber > 0">
    <ng-template *ngIf="!simpleStyling; then normalTemplate; else simpleTemplate">
    </ng-template>
</ng-template>

<ng-template #normalTemplate>
    <ion-avatar>
        <div class="other-container">
           <span ion-text>+{{missNumber}}</span>
        </div>
    </ion-avatar>
</ng-template>

<ng-template #simpleTemplate>
    <span ion-text>+{{missNumber}} others</span>
</ng-template>